<mat-card class="product-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Omschrijving
      <div class="productActions">
        <mat-icon>mode_edit</mat-icon>edit
        <mat-slide-toggle class="zichtbaar-toggle" labelPosition="before"><mat-icon>visibility</mat-icon><mat-icon>visibility_off</mat-icon></mat-slide-toggle>
      </div>
    </mat-card-title>

  </mat-card-header>
  <mat-card-content>
    intern: 1.20   extern: 1.50
  </mat-card-content>
</mat-card>
